.forum-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forum-post-form > select, .forum-post-form > input {
    font-size: 1.5em;
}

.forum-post-form > button {
    margin: 1em;
    font-size: 1.3em;
    padding: 0.5em;
}